*{          /*Reset Style Sheet*/     
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

h1{
    text-align: center;
    border: solid black 3px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3{
    margin-top: 10px;
}

p , figure {
    margin-bottom: 10px;
    margin-left: 10px;
}


.objectives h2{
    text-align: center;
    border: solid black 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.objectives ol li{
    text-align: center;
	list-style-position: inside;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.example-container{
    height: 200px;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

#figure{
    background-color: red;
}

#background-image{
    background-color: red;
    background-image: url(../HTML_Basics/drunkrick.jpg);
    background-size: cover;
}

#element-borders{
    border: dotted grey 3px;
    border-radius: 10%;
}

#text-shadow{
    text-shadow: 1px 1px 2px red;
}

#box-shadow{
    box-shadow: red 1px 5px 4px;
}

#linear-gradient{
    background-image: linear-gradient(to right , red , blue);
}

#radial-gradient{
    background-image: radial-gradient(red , blue);
}

#opacity{
    background-image: url(../HTML_Basics/drunkrick.jpg);
    opacity: 0.5;
}

#translate-2d{
    background-image: url(../HTML_Basics/drunkrick.jpg);
}

#translate-3d{
    background-image: url(../HTML_Basics/drunkrick.jpg);
    transform:rotateX(5deg); 
    transform:rotateY(5deg);
    transform:rotateZ(5deg);
}

#filters{
    background-image: url(../HTML_Basics/drunkrick.jpg);
    filter: grayscale(100%);
}