*{          /*Reset Style Sheet*/     
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

h1{
    text-align: center;
    border: solid black 3px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3{
    margin-top: 10px;
}

p{
    margin-bottom: 10px;
    margin-left: 10px;
}

.objectives h2{
    text-align: center;
    border: solid black 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.objectives ol li{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    
}

#centre-block-element{
    margin-left: auto;
    margin-right: auto;
}

#create-float-element{
  float:left;               /*Wont propperly work if its not contained*/
}

#clear-float-element{
    clear:inherit;
}

#prevent-container-collapse{
    overflow:auto
}

#grid-based-layout{
}

#positioning-styles{ 
    position: static;
}

#relative-positioning{
    position: relative;
    left: 33.333%;             /*can use pixels or any other unit*/

}

#absolute-positioning{
    position: absolute;
    left: 33.333%;             /*can use pixels or any other unit*/

}

#overflow-content{
    overflow: hidden;
    overflow-x:scroll;          /*or -y*/
    overflow: auto;
}