/* *{
Apply to eveything , also known as a reset
    margin:0;
    padding:0;
} */

body{
background-color:#f4#f4#f4;
color:#555555;

font-family: Arial , Helvetica , sans-serif ;
font-size:16px;
font-weight:normal;
/* OR font: normal 16px Arial, Helvetica , sans-serif;*/ 

line-height:1.6em;
/*Or 16px*/
margin:0;
}


a{
    /*The state of hyperlinks across site*/   text-decoration: none ;
    color:#000 ;
   }
   
a:hover{
   /*Hover state of hyperlink*/
    color: red;
    /*Changes the color of links red when hovering over it*/
   }
   
a:active{
   /*Change active state of link when clicking*/
   color: green;
   }
   
a:visited{
   /*the visited state of hyperlinks*/
   /*color: rgb(246, 7, 7); TEMP Comment out for use of button class*/
    }


.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    /* Other button styles here */
    display: inline-block;
    /* Remove any default padding/margin */
    margin: 0;
    padding: 5px;    
}

.button , input[type=text]{
/*Incomplete*/    
}

.button:hover{
    background-color:white;
    color:red ;
}

.container{
    width:80%;
    /*Makes everything wrap into 80% of screen container*/
    margin:auto;
    /*Alignment*/
}

.box-1{
    /*Now targeting box-1 class in HTML file*/
    background-color:#333;   
    color:#fff;

    border: 5px red solid;
    /*OR can also specify -top , - bottom etc , or leave a space to do
    top right down left
    More oprions : 
    border-top: 5px red dotted;
    */

    padding:20px ;
    /*can also specify -top , - bottom etc , or leave a space to do
    top right down left*/

    margin: 20px;
    /*can also specify -top , - bottom etc , or leave a space to do
    top right down left*/
}

.box-1 h1{
    /*Target any h1 within box-1 class*/
    font-family: Tahoma;
    font-weight: 800;
    font-style : italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 5px dotted #ccc;
    padding: 20px;
    margin: 20px;   
}


.categories{
    border: 1px #ccc solid;
    padding: 20px  ;
    border-radius: 15px;
    margin: 20px;
    /*Rounds edges*/
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding-left: 20px;
    padding: 0;
    /*Zeros default padding on ul's*/
    list-style: square;
}

.categories li{
    padding: 5px;
    border-bottom: dotted  1px #333 ;
    list-style-image: url('../images/check.png') ;
}

.my-form{
    margin-left: 20px;  
}

.form-group{
    padding-bottom: 15px;
    width: 20%;
    box-sizing: border-box;
}

.form-group input[type=text], 
.form-group input[type=email] , .form-group textarea {
    width: 100%;
    box-sizing: border-box;
}

.my-form label{
    display: block;
}

.my-form input[type="text"] ,.my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 30%;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    /*Helps fit everything into width , does not account for padding , margin or borders*/
    margin: 20px;
}

#main-block{
    float:left;
    width: 60%;
    margin: 20px;
    /*Makes this item float to the left and use 70% of screen*/
    box-sizing: border-box;
}

#side-bar{
    float:right;
    width: 20%;
    margin: 20px;
    background-color: darkgray;
    color:#fff;
    box-sizing: border-box;
}